<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h3 class="wthree-title">{{title}}</h3>
			<div class="servc-grids agileits-w3layouts">
				{{#each_with_sort boxes "order"}}
				<div class="col-md-6 servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<span class="{{feature_icon}}" aria-hidden="true"></span>
					</div>
					<div class="col-xs-9 servc-grid-right">
						<h4>{{feature_name}}</h4>
						<p>{{{feature_description}}}</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				{{/each_with_sort}}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
